<div *ngIf="frequencyDictionary$ | async as frequencyDictionary" class="content">
    <ng-container class="tools">
        <mat-form-field>
            <input matInput type="text" (input)="onActionWordChange($event)">
        </mat-form-field>
        <button matIconButton (click)="removeWordFromDictionary()">
            <mat-icon>remove</mat-icon>
        </button>
        <button matIconButton (click)="addWordToDictionary()">
            <mat-icon>add</mat-icon>
        </button>
        <button matIconButton (click)="filterDictionary()">
            <mat-icon>search</mat-icon>
        </button>
        <button matIconButton (click)="saveDictionary()">
            <mat-icon>save</mat-icon>
        </button>
        <button matIconButton (click)="clearData()">
            <mat-icon>clear</mat-icon>
        </button>
    </ng-container>
    <table mat-table [dataSource]="tableData" matSort>
        <ng-container matColumnDef="word">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Word</th>
            <td mat-cell *matCellDef="let element"> {{element.word}} </td>
        </ng-container>
        <ng-container matColumnDef="frequency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequency</th>
            <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator pageSize="7" [pageSizeOptions]="[]" showFirstLastButtons>
    </mat-paginator>
</div>