<div class="container-fluid text-center p-4">
  <div class="row gy-5 gx-5">
    <div class="col-md-12">
      <h1>Frequency dictionary</h1>
    </div>

    <div class="col-md-2">
      <app-change-language></app-change-language>
    </div>
    
    <div class="col-md-8">
      <app-frequency-dictionary></app-frequency-dictionary>
    </div>
    
    <div class="col-md-2">
      <app-statistics></app-statistics>
    </div>

    <div class="col-md-12">
      <app-add-new-text></app-add-new-text>
    </div>
  </div>
</div>
