<div>
    <input class="btn mx-2" type="file" (change)="onFileChanged($event)" accept=".txt"
        [disabled]="taskInProgress$ | async">
    <button class="btn mx-2 d-inline-flex text-center" (click)="uploadFile()" [disabled]="taskInProgress$ | async">
        Add
        <ng-container>
            <mat-icon *ngIf="taskInProgress$ | async"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            <mat-icon *ngIf="!(taskInProgress$ | async)">add</mat-icon>
        </ng-container>
    </button>
</div>